body {
  font-family: "Poppins", sans-serif;
  color: #4d4643;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}



/*header*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #111;
}

#header .logo a span {
  color: rgb(0, 78, 146);
  background: radial-gradient(circle, rgba(0, 78, 146, 1) 36%, rgba(0, 4, 40, 1) 99%);

}

#header .logo img {
  max-height: 40px;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: blue;
}
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }  

.typing-demo {
  width: 43ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.text {
  text-align: center;
}
.button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.button-wrapper .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d4643;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button-wrapper .btn:hover {
  background-color: blue;
}
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

